.container {
    margin: auto;
    width: 500px;
    background-image: linear-gradient(#444, #222, #222);
    border: 5px solid #222;
    padding: 10px;
}

h2 {
    margin-left: 30px;
    font-size: xx-large;
    color: #fff;
}

.form {
    text-align: center;
    padding-top: 50px;
}

button {
    height: 120px;
    width: 120px;
    border: 2px solid #bbb;
    border-radius: 50%;
    background: #222;
    color: #bbb;
    font-size: larger;
}

button:hover {
    cursor: pointer;
    background: #23cf5f;
    color: #111;
    border: 0px;
    border-color: #111;
}

input {
    height: 40px;
    width: 100px;
    border: 0px;
    background: #fff;
    border-radius: 20px;
    font-size: larger;
    text-align: center;
    margin: 0 40px;
}

ol {
    font-size: x-large;
    color: #bbb;
}

body {
    background: #111;
    font-family: 'Roboto', sans-serif;
}